<div class="row">
  <div class="form-group" id="reservation-date">
    <%= f.label :reservation_date %>
    <%= f.date_field :reservation_date, class: 'form-control', id: 'date' %>
  </div>

  <div id="select">
    <%= f.select :reservation_type, options_for_select(Reservation.reservation_types.keys.map { |type| [type.humanize, type] }) %>
  </div>

  <div id="select">
    <%= f.collection_select(:user_id, User.all, :id, :name, prompt: "Selecione o reservante") %>
  </div>
</div>